.fakeBar {
  align-items: center;
  display: flex;
  background-color: #131921;
}

.fakeSearchIcon {
  padding: 2px;
  height: 36px !important;
  width: 40px !important;
  background-color: #cd9042;
}

.fake_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
  justify-content: center;
  margin: 10px 20px;
}

.fakeSearchInput {
  height: 15px;
  padding: 18px;
  border: none;
  width: 100%;
  outline: none;
  font-size: 15px;
}

@media (min-width: 600px) {
  .fake_search {
    display: none;
  }
}
